body {
  width: 550px;
  background-color: grey;
  margin: 50px;
  
}

.thebox {
  padding: 20px;
  background-color: white;
  margin: 25px;
  border-radius: 8px;
  text-align: center;
}
.stack {
  margin-top: 250px;
  margin-bottom: 4px;
  padding: 5px;
  border-width: 1px;
  border: 2px;
  border-radius: 5px;
}
strong{
    padding: 15px;
    font-size: large;
    border-radius: 5px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-Shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
.heading{
    padding: 30px;
}